@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/******************************Redefinição********************************************/

	*{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	footer, header, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ul {
		list-style: none;
	}

/********************************************Modelo de Box**********************************************/

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/**********************************************Containers**********************************************/

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 100rem;
		min-width: 80rem;
	}

	.container.\37 5\25 {
		width: 60rem;
	}

	.container.\35 0\25 {
		width: 40rem;
	}

	.container.\32 5\25 {
		width: 20rem;
	}

	.container {
		width: 80rem;
	}

	@media screen and (max-width: 1680px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 100rem;
			min-width: 80rem;
		}

		.container.\37 5\25 {
			width: 60rem;
		}

		.container.\35 0\25 {
			width: 40rem;
		}

		.container.\32 5\25 {
			width: 20rem;
		}

		.container {
			width: 80rem;
		}

	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 81.25rem;
			min-width: 65rem;
		}

		.container.\37 5\25 {
			width: 48.75rem;
		}

		.container.\35 0\25 {
			width: 32.5rem;
		}

		.container.\32 5\25 {
			width: 16.25rem;
		}

		.container {
			width: 65rem;
		}

	}

	@media screen and (max-width: 980px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90%;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90% !important;
		}

	}

	@media screen and (max-width: 480px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90% !important;
		}

	}


/*********************************Tipos de telas**************************************/

	html {
		font-size: 13pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 12pt;
			}

		}

	body {
		background-color: #fff;
		color: rgba(0, 0, 0, 0.5);
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	p {
		margin: 5rem 5rem 5rem 5rem;
	}

		p:last-child {
			margin: 5rem 5rem 5rem 5rem;
		}

		p.special {
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			margin: 0 0 .5rem 0;
			padding: 0 0 0 0;
			letter-spacing: .25rem;
		}

			p.special:after {
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1rem 0;
	}
	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.35rem;
	}

/*******************************************Galeria de Fotos ***********************************/

	.gallery {
		width: 100%;
		margin: 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
	}

		.gallery .image.fit {
			margin: 0;
		}

		.gallery > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.gallery > * {
			width: 50%;
		}

		@media screen and (max-width: 980px) {

			.gallery > * {
				width: 100%;
			}

		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		display: inline-block;
		position: relative;
	}

		.image.flush {
			margin: 0 !important;
		}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 50%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1rem 1rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25rem;
	}

		ol li {
			padding-left: 0.25rem;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1rem;
	}

		ul li {
			padding-left: 0.5rem;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5rem 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2rem;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1rem 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5rem 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1rem 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5rem 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1rem;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1rem);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1rem;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5rem;
					width: calc(100% + 0.5rem);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5rem;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2rem 0;
				}

					ul.actions li {
						padding: 1rem 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2rem;
							}

					ul.actions.small li {
						padding: 0.5rem 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2rem 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1rem 0;
		}

		dl dd {
			margin-left: 2rem;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5rem 0;
	}

	header h2 + p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	header h3 + p {
		font-size: 1.1rem;
		margin-top: -0.8rem;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9rem;
		margin-top: -0.6rem;
	}

	header p {
		color: #bbb;
	}

/*Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}

		.spotlight > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.spotlight > * {
			width: 50%;
		}

		.spotlight p:last-child {
			margin: 0;
		}

		.spotlight .inner {
			padding: 6rem;
		}

		.spotlight .image {
			margin: 0;
		}

			.spotlight .image img {
				width: 100%;
			}

		.spotlight.alt {
			background: #1e1f23;
			color: rgba(255, 255, 255, 0.25);
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			text-align: right;
		}

			.spotlight.alt > * {
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
			}

			.spotlight.alt h3 {
				color: #FFF;
			}

			.spotlight.alt .image {
				-moz-order: 2;
				-webkit-order: 2;
				-ms-order: 2;
				order: 2;
			}

		@media screen and (max-width: 1280px) {

			.spotlight .inner {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				text-align: center;
			}

				.spotlight > * {
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
				}

				.spotlight > * {
					width: 100%;
				}

				.spotlight.alt {
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-moz-flex-wrap: wrap;
					-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					text-align: center;
				}

					.spotlight.alt > * {
						-moz-flex-shrink: 1;
						-webkit-flex-shrink: 1;
						-ms-flex-shrink: 1;
						flex-shrink: 1;
						-moz-flex-grow: 0;
						-webkit-flex-grow: 0;
						-ms-flex-grow: 0;
						flex-grow: 0;
					}

					.spotlight.alt .image {
						-moz-order: 0;
						-webkit-order: 0;
						-ms-order: 0;
						order: 0;
					}

		}

		@media screen and (max-width: 736px) {

			.spotlight .inner {
				padding: 2rem;
			}

		}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2rem 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75rem 0.75rem;
		}

		table th {
			font-size: 0.9rem;
			font-weight: 700;
			padding: 0 0.75rem 0.75rem 0.75rem;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: rgba(144, 144, 144, 0.25);
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #1e1f23;
	}

	table thead {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

	table tfoot {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	table.alt tbody tr td {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Header */

	body {
		background-color: #1e1f23;
		padding-top: 8rem;
	}

		body.is-loading:after {
			visibility: hidden;
			opacity: 0;
		}

		body:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			transition: opacity 1.5s ease-in-out, visibility 1.5s;
			content: '';
			background-image: url(../../images/bg.jpg);
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			visibility: visible;
			opacity: 1;
		}

			@media screen and (max-width: 980px) {

				body:after {
					background-attachment: scroll;
					background-position: top;
					background-size: 100%;
				}

			}

	#header {
		color: #a6a6a6;
		cursor: default;
		position: relative;
		text-align: center;
		z-index: 10001;
	}

		#header > .logo {
			margin: 0 0 4rem 0;
			padding: 0;
		}

			#header > .logo a {
				font-size: 4rem;
				font-weight: 700;
				color: #FFF;
				text-decoration: none;
				line-height: 1rem;
			}

			#header > .logo span {
				font-weight: 300;
				font-size: 1rem;
				display: block;
				color: rgba(255, 255, 255, 0.65);
			}

	@media screen and (max-width: 1280px) {

		body {
			padding-top: 6rem;
			background-attachment: scroll;
			background-size: auto;
			background-position: top;
		}

	}

	@media screen and (max-width: 736px) {

		#header > .logo {
			margin: 0 0 2rem 0;
		}

			#header > .logo a {
				font-size: 3rem;
			}

	}

/****************************************Tela principal***************************************************/

	#main > .inner {
		margin: 0 auto;
		width: 80rem;
		max-width: 90%;
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		border-radius: 4px;
	}

	@media screen and (max-width: 980px) {

		#main .image {
			width: 100%;
			min-width: 100%;
			float: none;
			margin: 0 0 2rem 0;
		}

			#main .image img {
				width: 100%;
			}

	}

	.wrapper > header {
		text-align: center;
		background: #FFF;
		padding: 2rem;
		margin: 0;
	}

		.wrapper > header h2 {
			position: relative;
			padding-bottom: .75rem;
		}

			.wrapper > header h2:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 10%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

		.wrapper > header p {
			text-transform: uppercase;
			font-weight: 300;
			font-size: .8rem;
			letter-spacing: .25rem;
			margin: 0;
		}

		.wrapper > header.special {
			padding: 4rem 2rem;
		}

			@media screen and (max-width: 980px) {

				.wrapper > header.special {
					padding: 3rem 2rem;
				}

			}

		@media screen and (max-width: 736px) {

			.wrapper > header {
				padding: 1.5rem;
			}

				.wrapper > header h2 {
					font-size: 1.5rem;
				}

					.wrapper > header h2:after {
						width: 50%;
					}

		}

	.wrapper.style1 .content {
		padding: 6rem;
	}

		@media screen and (max-width: 1280px) {

			.wrapper.style1 .content {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style1 .content {
				padding: 2rem;
			}

		}

	.wrapper.style2 {
		background: #1e1f23;
		padding: 6rem;
	}

		.wrapper.style2 header {
			background: #121315;
			border-radius: 4px 4px 0 0;
		}

			.wrapper.style2 header h2 {
				color: #FFF;
			}

				.wrapper.style2 header h2:after {
					background-color: rgba(255, 255, 255, 0.125);
				}

			.wrapper.style2 header p {
				color: rgba(255, 255, 255, 0.25);
			}

		@media screen and (max-width: 1280px) {

			.wrapper.style2 {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style2 {
				padding: 2rem;
			}

		}

/*******************************************Footer***********************************************/

	#footer {
		padding: 2rem 0 0.1rem 0 ;
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0 1rem;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 1rem 0 0.1rem 0 ;
			}

		}